
<h1>Sign In!</h1>
<%= form_for :session , url: do_sign_in_path, method: :post  do |f| %>
    <table>

        <tr>
             <td>    <%= f.label :email %></td>
            <td><%= f.email_field :email %></td>       
        </tr>
        <tr>
                 <td>    <%= f.label :password %></td>
                <td><%= f.password_field :password %></td>   
        </tr>
    
        <tr>
            <td><%= f.submit 'Sign In'%></td> 
        </tr>
    
    
    </table>

<% end %>