
<h1>Sign Up!</h1>
<%= form_for @user do |f| %>
    <% if @user.errors.any? %>
        <div id="error_explanation">
        <h2><%= pluralize(@user.errors.count, "error") %> prohibited this post from being saved:</h2>
        
        <ul>
            <% @user.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
        </ul>
        </div>
    <% end %>
    <table>
        <tr>
            <td > <%= f.label :name %></td>
            <td><%= f.text_field :name %></td>
        </tr>
        <tr>
             <td>    <%= f.label :email %></td>
            <td><%= f.email_field :email %></td>       
        </tr>
        <tr>
                 <td>    <%= f.label :password %></td>
                <td><%= f.password_field :password %></td>   
        </tr>
        <tr>
                    <td>    <%= f.label :password_confirmation %></td>
                    <td><%= f.password_field :password_confirmation %></td>
        </tr>
        <tr>
            <td><%= f.submit %></td> 
        </tr>
    
    
    </table>

<% end %>